body {
  font-family: "Dyslexic-Regular";
  margin: 0; 
  display: flex;
  justify-content: center; 
  align-items: center;
  background-color: #faf6e6;
}

@font-face {
  font-family: "Dyslexic-Regular";
  src: local("OpenDyslexic-Regular"),
    url("/src/font/OpenDyslexic-Regular.woff") format("woff");
}

.search-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.big-gam {
  width: 500px;
  z-index: 3;
  top: 45px;
  position: relative;
  pointer-events: none;
}

.url-input {
  padding: 2em 1.5em;
  border:1px solid black;
  border-radius: 100px;
  font-size:medium;
  width: 100%;
}

.url-input:focus {
  outline: none; 
  border: 3px solid #435eb0;
}

.submit-button {
  padding: 10px;
  margin: 10px 0;
  background-color: #435eb0;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #97adf0;
}